#classroomApp table{
        table-layout: fixed;   
}

#classroomApp .classroomRow{
    height: 60px;
    margin: 0;
    padding-bottom: 20px
}

#classroomApp .classroomRow .classroomColumn:hover{
    background-color: rgba(230, 230, 230, 1);
}

[data-bs-theme=dark] #classroomApp .classroomRow .classroomColumn:hover{
    background-color: rgba(70, 70, 70, 1);
}

#classroomApp .studentTable{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    font-size: calc(0.5em + 0.25vw);
    font-weight: bold;
    text-align: center;
    color: #000;
    border-radius: 5px;
    background-color: var(--bs-light);
    padding: 0;
    margin: 0;
}

#classroomApp .studentTable span{
    cursor: pointer;
}

#classroomApp .teacherTable{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    border: 1px solid #000;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    background-color: var(--bs-success);
    padding: 0;
    margin: 0;
}

#classroomApp .emptyTable{
    width: 100%;
    height: 100%;
    /* padding: 0; */
    margin: 0;
}

#classroomApp .emptyTable:hover{
    background-color: rgba(230, 230, 230, 1);
}

[data-bs-theme=dark] #classroomApp .emptyTable:hover{
    background-color: rgba(70, 70, 70, 1);
}

#classroomApp #studentsToolbarListContainer{
    position: relative;
    height: 100%;
    max-height: 200px;
    min-height: 100px;
    border: 1px solid rgba(200, 200, 200, 0.6);
    border-radius: 5px;
    overflow-y: scroll
}

#classroomApp #studentsToolbarList{
    height: 100%;
    width: 100%;
}

#classroomApp #studentsToolbarList span{
    cursor: pointer;
}  

#classroomApp #studentsToolbarListPlaceholder{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1em;
}